a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(151, 114, 10);
    text-decoration: underline;
}

ul {
    list-style: none;
}

header {
    background: #bbbbbb;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li {
    display: inline;
    margin-right: 2rem;
}

nav ul {
    justify-content: space-between;
}

nav {

    font-family: 'Times New Roman', Times, serif;
}

main {

    min-height: 24rem;

}

main div {
    margin: 5rem 0;
}

main ul {
    display: flex;
    justify-content: space-evenly;

}

main ul li {
    border: 2px solid black;
    border-radius: 10px;
    width: min-content;
    text-align: center;
    box-sizing: border-box;
}

main ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: rgb(151, 114, 10);
}

main ul li:hover h2 {
    font-size: 24px;
}

main ul li:active {
    border-color: #088c19;
}

main ul li h2 {
    text-align: center;
}

main ul li div {
    margin: 1.5rem 0.25rem;
}

.moeda {
    font-weight: bold;
    font-size: 22px;
    margin-top: 1.5rem;
}

.descricao {
    font-size: 18px;
}

footer {
    padding: 40px 0;
    text-align: center;
    background: url(./imagens/bg.jpg);
}

.copyright {
    color: white;
    font-size: 13PX;
    margin: 20px 0 0;
}